[core]
	editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[user]
	email = zaidde2005@gmail.com
	name = zaid
[alias]
	hist = log --oneline --graph --decorate --all  --pretty=format:'%C(auto)%h%C(auto)%d%C(reset) %s %C(bold blue)(%cr)%C(reset) %C(italic green)[%an]%C(reset) %C(reset)'
